infrahouse-core ~=  1.1
pytest-infrahouse ~= 0.25
pytest-timeout ~= 2.1
paramiko ~=4.0

# Release tooling
bump2version ~= 1.0

# Documentation dependencies
diagrams ~= 0.25
mkdocs-material ~= 9.7
mkdocs-minify-plugin ~= 0.8
mkdocs-glightbox ~= 0.4

# Security
checkov ~= 3.2
